################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server aspNet Core/WebApplication1/WebApplication1/appsettings.Development.json
